In [8]:
import sqlite3
import pandas as pd

# source: https://www.sqlitetutorial.net/sqlite-sample-database/
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

In [2]:
def run_query_from_file(filename):
    with open(filename, 'r') as file:
        queries = file.read()
    # if there are multiple queries in the file, run the first one
    queries = queries.split(';')
    return pd.read_sql_query(queries[0], conn)

In [3]:
# most lucrative salespeople
run_query_from_file('sales_by_emp.sql').sort_values('SalesTotal', ascending=False)

,EmployeeId,FirstName,LastName,Title,CustomersSupported,SalesTotal
2,3,Jane,Peacock,Sales Support Agent,21,833.04
3,4,Margaret,Park,Sales Support Agent,20,775.40
4,5,Steve,Johnson,Sales Support Agent,18,720.16
0,1,Andrew,Adams,General Manager,0,0.00
1,2,Nancy,Edwards,Sales Manager,0,0.00
5,6,Michael,Mitchell,IT Manager,0,0.00
6,7,Robert,King,IT Staff,0,0.00
7,8,Laura,Callahan,IT Staff,0,0.00

In [37]:
# top 10 selling artists
run_query_from_file('sales_by_artist.sql').head(10)

                    Artist  Quantity  Revenue
0              Iron Maiden       140   138.60
1                       U2       107   105.93
2                Metallica        91    90.09
3             Led Zeppelin        87    86.13
4  Os Paralamas Do Sucesso        45    44.55
5              Deep Purple        44    43.56
6            Faith No More        42    41.58
7                     Lost        41    81.59
8             Eric Clapton        40    39.60
9                   R.E.M.        39    38.61

In [5]:
# sales by country
run_query_from_file('sales_by_country.sql')

           Country  Revenue  Customers
0              USA   523.06         13
1           Canada   303.96          8
2           France   195.10          5
3           Brazil   190.10          5
4          Germany   156.48          4
5   United Kingdom   112.86          3
6   Czech Republic    90.24          2
7         Portugal    77.24          2
8            India    75.26          2
9            Chile    46.62          1
10         Ireland    45.62          1
11         Hungary    45.62          1
12         Austria    42.62          1
13         Finland    41.62          1
14     Netherlands    40.62          1
15          Norway    39.62          1
16          Sweden    38.62          1
17          Poland    37.62          1
18           Italy    37.62          1
19         Denmark    37.62          1
20       Australia    37.62          1
21       Argentina    37.62          1
22           Spain    37.62          1
23         Belgium    37.62          1

In [6]:
# sales by genre
run_query_from_file('sales_by_genre.sql')

                 Genre  Quantity  Revenue
0                 Rock       835   826.65
1                Latin       386   382.14
2                Metal       264   261.36
3   Alternative & Punk       244   241.56
4                 Jazz        80    79.20
5                Blues        61    60.39
6             TV Shows        47    93.53
7             R&B/Soul        41    40.59
8            Classical        41    40.59
9               Reggae        30    29.70
10               Drama        29    57.71
11                 Pop        28    27.72
12          Soundtrack        20    19.80
13    Sci Fi & Fantasy        20    39.80
14         Hip Hop/Rap        17    16.83
15          Bossa Nova        15    14.85
16         Alternative        14    13.86
17               World        13    12.87
18         Heavy Metal        12    11.88
19   Electronica/Dance        12    11.88
20      Easy Listening        10     9.90
21              Comedy         9    17.91
22     Science Fiction         6    11.94
23       Rock And Roll         6     5.94

In [54]:
# top 25 albums

# now let's do it with pandas
df_inv_itms = pd.read_sql_query('select * from invoice_items', conn)
df_tracks = pd.read_sql_query('select * from tracks', conn)
df_albums = pd.read_sql_query('select * from albums', conn)
df_artists = pd.read_sql_query('select * from artists', conn)

df_sales_by_album = df_tracks.merge(df_albums, how='left', on='AlbumId')
df_sales_by_album = df_inv_itms.merge(df_sales_by_album, how='left', on='TrackId')
df_sales_by_album = df_sales_by_album.merge(df_artists, how='left', on='ArtistId')
df_sales_by_album = df_sales_by_album[['InvoiceLineId', 'UnitPrice_x', 'Quantity', 'Name_x', 'Title', 'Name_y']]
df_sales_by_album = df_sales_by_album.rename(columns={'UnitPrice_x':'UnitPrice',
                                    'Name_x': 'TrackName',
                                    'Title':'AlbumName',
                                    'Name_y': 'ArtistName'
                                   })
df_sales_by_album['Revenue'] = df_sales_by_album['Quantity'] * df_sales_by_album['UnitPrice']

df_sales_by_album = df_sales_by_album.groupby(
    ['AlbumName', 'ArtistName']
    )[['Quantity', 'Revenue']].sum().sort_values('Revenue', ascending=False).reset_index()
df_sales_by_album = df_sales_by_album.rename(columns={'Quantity':'QuantityTracksPurchased'}) # clarify

df_sales_by_album.head(25)

,AlbumName,ArtistName,QuantityTracksPurchased,Revenue
0,"Battlestar Galactica (Classic), Season 1",Battlestar Galactica (Classic),18,35.82
1,"The Office, Season 3",The Office,16,31.84
2,Minha Historia,Chico Buarque,27,26.73
3,"Heroes, Season 1",Heroes,13,25.87
4,"Lost, Season 2",Lost,13,25.87
5,Greatest Hits,Lenny Kravitz,26,25.74
6,Unplugged,Eric Clapton,25,24.75
7,"Battlestar Galactica, Season 3",Battlestar Galactica,12,23.88
8,"Lost, Season 3",Lost,11,21.89
9,Acústico,Titãs,22,21.78
10,"Lost, Season 1",Lost,10,19.90
11,Greatest Kiss,Kiss,20,19.80
12,"Chronicle, Vol. 2",Creedence Clearwater Revival,19,18.81
13,My Generation - The Very Best Of The Who,The Who,19,18.81
14,Prenda Minha,Caetano Veloso,19,18.81
15,Acústico MTV,Os Paralamas Do Sucesso,18,17.82
16,"Chronicle, Vol. 1",Creedence Clearwater Revival,18,17.82
17,International Superhits,Green Day,18,17.82
18,Up An' Atom,Gene Krupa,17,16.83
19,Rattle And Hum,U2,17,16.83
20,Use Your Illusion I,Guns N' Roses,17,16.83
21,The Best Of R.E.M.: The IRS Years,R.E.M.,17,16.83
22,Afrociberdelia,Chico Science & Nação Zumbi,16,15.84
23,Instant Karma: The Amnesty International Campa...,U2,16,15.84
24,American Idiot,Green Day,15,14.85

In [7]:
# cursor.close()
# conn.close()